.app-container__header {
    grid-area: 1/1/2/3;
    background-color: #9AC6C5;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 3px 5px rgba(32, 3, 62, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(32, 3, 62, 0.3);
    box-shadow: 0 3px 5px rgba(32, 3, 62, 0.3);
}

.header__text {
    font-weight: 800;
    font-size: 3em;
    color: rgba(32, 3, 62, 1)
}